*, *::after, *::before {
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~ SHARED RULES ~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#header, #main, #footer {
    /*padding: 0 15%;*/
}

#header, #footer {
    background-color: #1F2937;
}

.logo, .hero-title, .hero-img, .cta, button, footer {
    color: #F9FAF8;
}

a, .hero-text {
    color: #E5E7EB;
}

button, .cta-container {
    background-color: #3882F6;
}

.info-heading, .img-text, .testimony {
    color: #1F2937;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~ HEADER SECTION ~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#header {

}

/* NAVBAR */

.navbar {

}

.logo {

}

.links {

}

.item {

}

a {
    text-decoration: none;
}

/* HERO */

.hero {

}

/* HERO PANEL */

.hero-panel {

}

.hero-title {

}

.hero-text {

}

.hero-btn {

}

/* HERO IMAGE */

.hero-figure {

}

.hero-img {
    width: 500px;
    height: auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~ CONTENT SECTION ~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#main {

}

/* INFORMATION */
.info {

}

.info-heading {

}

.info-images {

}

.img-div {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 24px;
    border: 5px solid #3882F6;
}

.info-img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    transition: .2s;
}

.info-img:hover {
    transform: scale(1.3);
}

.img-text {

}

/* TESTIMONIAL */
.testimony {
    background-color: #E5E7EB;
}

.testimony-quote {

}

.testimony-author {

}

/* CALL TO ACTION */
.cta {

}

.cta-container {

}

.cta-info {

}

.cta-heading {

}

.cta-text {

}

.cta-btn {

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~ FOOTER SECTION ~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#footer {

}

.copyright {

}